@mainColor: #EA862E;
@backgroundColor: #FFFFF5;
@headerColor: #000;
@buttonTextColor: #fff;
@panel-background-color: #F8F9FB;

@headerOpacity: 0.75;

@panel-width: 340px;
@header-height: 70px;
@sticker-width: 75px;

@import "pizza/pizza-card";
@import "pizza/pizza-booked";
@import "panels/left-panel";
@import "panels/right-panel";

body{
  background: @backgroundColor;
}
h3{
  color: @mainColor;
}
.badge{
  background-color: @mainColor;
}

.sticker{
  background-color: @mainColor;
  color: #fff;
  position: fixed;
  bottom:0;
  left: 15px;
  padding: 15px;
  width: @sticker-width;
  z-index: 9999;

  img{
    width: @sticker-width;
    position: absolute;
    left: 0;
    top: -8px;
  }
}

.header.main {
  background: @headerColor;
  color: @buttonTextColor;
  opacity: @headerOpacity;
  padding: 10px 20px;
  right: 0;
  top: 0;
  z-index: 900;

  .header-top {
    padding-bottom: 5px;
    border-bottom: 1px solid @buttonTextColor;
    opacity: @headerOpacity;

    span {
      margin-right: 25px;
    }
  }
}

.main-footer{
  padding-right: @panel-width;
  position: relative !important;
}
.validation-fail{
  margin-left: 100px;
  color: #880a02;
}