
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 right-panel">
    <div class="header navbar">
        <div class="navbar-header">
            <h4 class="navbar-brand"><b>Замовлення <span class="badge" id="booked-number"></span></b></h4>
            <a class="navbar-brand pull-right clear">Очистити <span class="visible-lg-inline-block">замовлення</span></a>
        </div>
    </div>
    <div class="content" id="cart">
        <!--Booked pizza will appear here.-->
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                <b><span>Сума <span class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block">замовлення</span></span><span class="pull-right"><span class="summ">500</span> грн</span></b>
                <p><button class="btn btn-success">Замовити</button> </p>
            </div>
        </div>
    </div>
</div><!-- /right-panel -->